{{!-- <div class="col-md-3">

    <article class="card">
        <img class="card-img-top" src="{{this.photo}}">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <hr>
            <a href="/celebrations/details/{{_id}}" class="btn btn-primary">Details</a>
        </div>
    </article>

</div> --}}

<div class="celebration">
    <li><a href="/celebrations/details/{{_id}}" class="list">{{this.name}}</a></li>
</div>