<div class="container">
    
    <div class="title row justify-content-center">
        <h2>Name: {{name}}</h2>
    </div>

    <hr>
    <div class="main showdetails">
        <p><strong>Date:</strong> {{date}}</p>
        <br>
        <p><strong>Description:</strong> {{description}}</p>
        <br>
        <p><strong>Traditions:</strong> {{traditions}}</p>
        <br>
        <p><strong>Country/ Countries:</strong> {{country}}</p>
        <br>
    </div>
    <div>
        <img src="" alt="{{name}}">
    </div>

    {{!-- <button type="button" class="btn " id="btn-link">
        <a href="/celebrations">Back to Celebrations</a>
    </button> --}}
    <div class="row justify-content-center">
        <a href="/celebrations" class="btn">Back to Celebrations</a>
    </div>

    {{#if isAdmin}}
    <div class="row justify-content-center">
        <a href="/admin/users-list" class="btn ">See all users</a>
        <a href="/admin/delete-user" class="btn btn-danger">Delete user</a>
        <a href="/admin/edit-user" class="btn ">Edit user</a>
    </div>
    {{/if}}


</div>